.logoSection, .citationContentReport{
	margin-bottom: 10px;
	margin-top: -78px;
}
{
    margin-bottom: 10px;
	margin-top: -46px;
}
.overviewReport, .fullReport, .myBusinessReport, .analyticLogo, .adwardsLogo, .rankintiyReport, .googleSearchReport{
	margin-bottom: 10px;
	margin-top: -60px;
}
